# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Environment variables
.env
.venv/
__pycache__

# Java build files
*.class
target/
build/

# Backtest outputs
results/
output/